SUPABASE_URL="your-supabase-project-url"
SUPABASE_ANON_KEY="your-supabase-secret-anon-key"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"
SUPABASE_JWT_KEY="your-supabase-jwt-key-token"
GROQ_API="your-groq-api-key"
GROQ_MODEL="choose-model-provider"    #use openai model-openai/gpt-oss-120b for better efficiency